---
import type { Education } from "../types";
import { marked } from "marked";

interface Props {
  item: Education;
}

const { item } = Astro.props;
const descriptionHtml = await marked.parse(item.description);
const yearFormatter = new Intl.DateTimeFormat("en-GB", {
  year: "numeric",
});
---

<article class="education-card">
  <div class="education-card__header">
    <div>
      <h3>{item.school}</h3>
      <p class="education-card__degree">{item.diploma}</p>
    </div>
    <p class="education-card__date">{yearFormatter.format(new Date(item.date))}</p>
  </div>

  <p class="education-card__location">{item.location}</p>
  <div class="rich-text" set:html={descriptionHtml} />
</article>
