---
interface Props {
  title: string;
  description?: string;
}

const { title, description = title } = Astro.props;
---

<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content={description} />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="color-scheme" content="light" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
